<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hanami Restaurant</title>
  </head>
  <body>

<div class="bgimg-1">
  <div class="caption">
    <!-- <span class="border">Hanami</span> -->
  </div>
</div>
<div class="row">
<div class="col-md-8" id="super_menu">
  <div id="main_div"><h2>Venue</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-2">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>

<div class="row">
  <div class="col-md-8" id="building">
    <p>Фирма Датекс ООД е водещ производител и разработчик на ПОС решения. Като лидер във фискалните устройства в Европа, нашата мисия е да променим бъдещето на ПОС бизнеса, като предлагаме иновативни продукти, разработени и произведени от опитния ни екип под пълен контрол на качеството. Със страст за технологични иновации, качествени продукти и достъпни цени сме спечелили сърцата на стотици клиенти от цял свят.</p>
  </div>
</div>
</div>
<!-- <div style="position:relative;">
  <div style="color:#black;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up text 2.</p>
  </div>
</div> -->
<div style="display: none;">
  <p id="lamer_id"></p>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">Restaurant</span>
  </div>
</div>

</body>
</html>
