<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hanami", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
      </ul>
    </nav>
  </div>
</header> -->
<div class="col-md-4 .col-md-offset-4">
<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Brand</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<!-- <span>Brand</span> -->
			</div>
			<nav>
				<ul>
					<li>
						<a href="#super_menu" class="scroll_nav" id="venue">
							<span><i class="fa fa-user"></i></span>
							<span>venue</span>
						</a>
						<ul>
							<li> <a href="#sub_menu" class="scroll_nav"> building</a>    </li>
							<li> <a href="#terrace">terrace </a>    </li>
							<li>  <a href="#bar">bar </a>    </li>
							<li>   <a href="#main_area">main area</a>   </li>
						</ul>

					</li>
					<li>
						<a >

							<span><i class="fa fa-envelope"></i></span>
							<span>food</span>
						</a>
					</li>
					<li class="active">
						<a >
							<span><i class="fa fa-bar-chart"></i></span>
							<span>ideas</span>
						</a>
					</li>
					<li>
						<a >
							<span><i class="fa fa-credit-card-alt"></i></span>
							<span>plan</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
</div>


